<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="kjs" class="com.test02.Address">
        <constructor-arg name="phone" value="010-1111-1111"/>
        <constructor-arg name="name" value="Kim"/>
        <constructor-arg name="addr" value="Seoul"/>
    </bean>

    <bean id="hong" class="com.test02.Address">
        <constructor-arg name="addr" value="Busan"/>
        <constructor-arg name="name" value="Hong"/>
        <constructor-arg name="phone" value="010-9938-9999"/>
    </bean>

</beans>