<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.model.dao.MyBoardDao">
<!--   namespace = 해당 쿼리가 어느 DAO 클래스에 속하는지 지정     -->
    <resultMap id="MyBoardMap" type="MyBoard">
        <result property="myno" column="MYNO"/>
        <result property="myname" column="MYNAME"/>
        <result property="mytitle" column="MYTITLE"/>
        <result property="mycontent" column="MYCONTENT"/>
        <result property="mydate" column="MYDATE"/>
    </resultMap>
    <select id="selectAll" resultType="com.my.model.dto.MyBoard">
<!--   resultType = 쿼리의 결과를 어떤 타입으로 반환할 지 지정     -->
        SELECT *
        FROM MYBOARD
        ORDER BY MYNO DESC
    </select>

    <select id="selectOne" resultMap="MyBoardMap">
        SELECT *
        FROM MYBOARD
        WHERE MYNO = #{myno}
    </select>
    
    <insert id="insert">
        INSERT INTO MYBOARD
        VALUES(SEQ_MYBOARD.NEXTVAL, #{myname}, #{mytitle}, #{mycontent}, CURRENT_DATE)
    </insert>
</mapper>