<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="kim" class="com.test02.Emp">
        <constructor-arg value="Kim" name="name"/>
        <constructor-arg value="5000000" name="salary"/>
    </bean>

    <bean id="kang" class="com.test02.Emp">
        <property name="name" value="Kang"/>
        <property name="salary" value="1900000"/>
    </bean>

</beans>