<!DOCTYPE html>
<html lang="ko">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>JPA List</title>
</head>
<body>
    <h1>JPA List</h1>
    <div>
        <table border="1">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            <tr th:if="${list.size()==0}">
                <td colspan="4">----- No data -----</td>
            </tr>
            <tr th:unless="${list.size()==0}" th:each="dto:${list}">
                <td th:text="${dto.myno}"></td>
                <td th:text="${dto.myname}"></td>
                <td><a th:href="|@{/member/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}"></a></td>
                <td th:text="${dto.mydate}"></td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="button" onclick="location.href='insertform'" value="Write">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>